p {
  margin: 0;
}

.divider {
  border: 1px solid #afafaf;
  width: 100%;
  margin: 0;
}

.sidebar__logo {
  width: 80px;
}

.titlePrincipal {
  text-align: center;
  padding-bottom: 20px;
}

.titleBienvenidos {
  margin: 0;
  color: #4e73df;
}

.parrafoPrincipal {
  padding-bottom: 20px;
}

#checkboxFrec {
  padding: 10px;
  margin-top: 30px;
}

.row {
  margin: 0;
}

.alimento__fotoPrincipal {
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.imgAlimentoProfile {
  width: 250px;
}

.alimento__dataInicial {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.macronutrientes__data {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
}

.inputMacroData__subCategory {
  background-color: #f6f8ff;
}

.inputMacroData__principalCategory {
background-color: #d8cccc;
}

.inputMacroData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 0;
}

.inputMicroData,
.imgPorcionesFiles {
  display: flex;
  flex-direction: row;
}

.porciones__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgPorcionesFiles {
  flex-wrap: wrap;
}

.porcion {
  margin: 10px;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Elegir";
}

.InputInfoPorcion {
  margin-top: 5px;
}

.input-group {
  margin: 10px;
  width: 100%;
}

.buttons__AlimentoAlta {
  display: flex;
  justify-content: center;
}

.labelMacroNut {
  width: 80px;
  justify-content: center;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.labelMacroMicroNut {
  width: 130px;
  justify-content: center;
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.labelUnidMed {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  width: 55px;
  max-width: 100px;
  justify-content: center;
}

.inputCantGeneral {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tableGrupos {
  width: 50%;
  margin: 15px auto;
}

.tableGrupos th, .tableGrupos td {
  vertical-align: middle;
}

textarea {
  resize: none;
}

.checkbox_frec {
  margin-top: 50px;
}

.imgLoginSenat {
  align-self: center;
  text-align: center;
}

.bgLogin {
  width: 100%;
  text-align: center;
}

.sloganSenat {
  width: auto;
  padding: 10px 80px;
  text-align: center;
  font-weight: bold;
}

.seleccionPorciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.porcSel {
  display: flex;
  justify-content: center;
  align-content: center;
}

.imgPorcSel {
  width: 30rem;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
}

.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.selectorFrecCuestionario {
  margin: 0 auto;
}

.tituloEncuestaCuestionario {
  margin-bottom: 0;
}